/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20 px;
    background-color: #f4f4f4;
}

/* Container for centering the content */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: #333;
}
.filters{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filter-group{
    display: flex;
    gap: 10px;
}
.filter-group button, .filter-group select{
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.filter-group button:hover, .filter-group select:hover{
    background-color: #333;
    color: #fff;
    border-color:#333;
}
.directory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.tool {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align-last: center;
}
.tool img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tool h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.tool p {
    margin: 0 0 10px 0;
    color: #666;
}

.badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}
.badge-free {
    background-color: #e7f3ff;
    color: #1a73e8;
}
.badge-paid {
    background-color: #fce8e6;
    color: #d93025;
}
